<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body data-table-wrapper">
        <table class="table table-bordered table-hover data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>EMail</th>
              <th>Last Signed in At</th>
              <th>Sign in Count</th>
              <th>Created At</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @recent_users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <% if user.current_sign_in_at.present? or user.last_sign_in_at.present? %>
                <%= (user.current_sign_in_at || user.last_sign_in_at).in_time_zone %>
                <% end %>
              </td>
              <td>
                <%= user.sign_in_count %>
              </td>
              <td><%= user.created_at.in_time_zone %></td>
              <td class="text-center user-action">
                <%= link_to user_path(user) do %>
                <i class="fa fa-hand-o-right"></i>
                <% end %>
                <%= link_to edit_user_path(user) do %>
                <i class="fa fa-edit"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-6">
            <div class="data-table-info">Showing <%= @recent_users.count %> active users out of total <%= total_user_number %></div>
          </div>
          <div class="col-xs-6">
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<% content_for :header do %>
Active Users <small>who signed in recently</small>
<% end %>
