<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= @user.email %></h3>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-condensed show-table">
          <tbody>
            <tr>
              <td class="view-label">Sign in Count</td>
              <td><%= @user.sign_in_count %></td>
            </tr>
            <tr>
              <td class="view-label">Current Sign in At</td>
              <td><%= @user.current_sign_in_at.in_time_zone if @user.current_sign_in_at.present? %></td>
            </tr>
            <tr>
              <td class="view-label">Current Sign in IP</td>
              <td><%= @user.current_sign_in_ip %></td>
            </tr>
            <tr>
              <td class="view-label">Last Sign in At</td>
              <td><%= @user.last_sign_in_at.in_time_zone if @user.last_sign_in_at.present? %></td>
            </tr>
            <tr>
              <td class="view-label">Last Sign in IP</td>
              <td><%= @user.last_sign_in_ip %></td>
            </tr>
            <tr>
              <td class="view-label">Created At</td>
              <td><%= @user.created_at.in_time_zone %></td>
            </tr>
            <tr>
              <td class="view-label">Updated At</td>
              <td><%= @user.updated_at.in_time_zone if @user.updated_at.present? %></td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>

<% content_for :header do %>
  User Details
<% end %>
